# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build & Publish Go Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.12'

    - name: Build
      run: |
        mkdir -p build
        GOOS=linux GOARCH=amd64 go build -o build/bpfviewer-amd64 -v ./...
        GOOS=linux GOARCH=arm64 go build -o build/bpfviewer-arm64 -v ./...  

    - name: Archive Build
      run: |
        tar -czvf bpfviewer-${{ github.ref_name }}-linux.tar.gz -C build .

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Test
      run: go test -v ./...

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        files: bpfviewer-${{ github.ref_name }}-linux.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
